* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.podcast,
.tome,
.stories,
.sign-up,
.sign-in {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.podcast {
  background-image: url('https://photos.smugmug.com/photos/i-qjT64nb/0/5b9966b1/X3/i-qjT64nb-X3.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.stories {
  background-image: url('https://photos.smugmug.com/photos/i-qjT64nb/0/5b9966b1/X3/i-qjT64nb-X3.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;

}
.tome {
  background-image: url('https://photos.smugmug.com/Bad-Film/i-KFFrXbx/0/25f7ce34/XL/36706560185-XL.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('https://photos.smugmug.com/Bad-Film/i-KFFrXbx/0/25f7ce34/XL/36706560185-XL.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  
}

.sign-up, .button-text, a{
  color: white;
}

.sign-in {
  background-image: url('https://photos.smugmug.com/Bad-Film/i-KFFrXbx/0/25f7ce34/XL/36706560185-XL.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  
}

.sign-in, .button-text, a{
  color: white;
}

a:hover{
  color:blue;
}

